body{
    font-family: 'Open Sans', sans-serif;
    background-color: #282828;
    margin:0;
}

/* HEADER */

header{
    overflow: hidden;
    background-color: #240090;
    color: white;
    text-align: center;
}

/* --- */
/* NAV */

nav{
    padding: 1px 5px 1px 0px;
    background-color: #3500d3;
    text-align: center;
}
nav li{
    padding-right: 25px;
    display: inline;
}
nav a, a:visited{
    color: #d1d1d1;
    font-size: 22.5px;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

/* --- */
/* FOOTER */

footer{
    margin-top: 30px; 
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #240090;
    color: white;
    overflow: hidden;
}
footer a{
    color:white;
}

#footer-right li{
    list-style-type: none;
}

#footer-right{
    text-align: right;
    float: right;
    width: 50%;
    box-sizing: border-box;
}

#footer-left{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

/* --- */

main{
    text-align: center;
    color:white;
}
main a{
    color: white;
}

/* PROJECTS */

#projects{
    text-align: left;
    float: left;
    margin:auto;
    margin-left: 30px;
}

.project-img{
    clear: both;
    float: right;
}

/* --- */
/* GROUP CHAT */

#chat{
    background-color: black;
    height: 200px;
    overflow: scroll;
    margin: auto;
    margin-top: 30px;
    padding: 8px;
    text-align: left;
}

#send input, #chat{
    width: 500px;
}